@CHARSET "UTF-8";
.copyright{
	font-size:10px;
	font-style: italic; 
}
.headtitle{
	margin-top:0;
	margin-bottom:0;
}
.normal{
	font-size:11px;
	font-weight:normal;
}
table td{
	background-color:#DDDDDD;
}
table td input{
	width:50px;
}
table td{
	font-size:12px;
}
.text{
	font-size: 12px;
}
#types{
	background-color: #EEFFFF;
}
.fbox{
	border:1px solid black;
}
#qf_n{
	width:10px;
}
.rechteckregel,.quadraturformel{
	visibility:hidden;
}

.redop{
	font-size: 10px;
	color:red;	
}
.inlinemath{
	text-align:left;
}